/**
 * @file 全站颜色配置
 * @author XiaoBin Li(lixiaobin8878@gmail.com) 
 */

// 主色
$brand: #1296db;

$gray-999: #999;

$gray-555: #555;

$gray-e9: #E9E9E9;

$gray-f0: #F0F0F0;

$gray-333: #333;

$borders: (
    normal: #d9d9d9,
    shallow: #eaeaea
);
// 链接色
$link-color: $brand;
$brand-hover: lighten($brand, 5%);

// 链接悬浮色
$link-color-hover: darken($link-color, 5%);

// 常用橙色
$orange: #ff9933;

