
@import './color';
@import './mixin';

page {
    background: #f2f2f2;
    padding-bottom: 110rpx;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    .none-list {
        color: $gray-999;
        padding: 50rpx;
        text-align: center;
    }
}

.clearfix {
    @include clearfix;
}
.empty {
    @extend .icon-bg;
    margin: 0 auto;
    background-image: url('http://otzuzbqja.bkt.clouddn.com/empty.svg');
    width: 100px;
    height: 100px;
}