
@import './color';
@import './mixin';
@import './variable';

page {
    background: #f2f2f2;
    color: #333;
    font-size: 14px;
    padding-bottom: 110rpx;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    .none-list {
        color: $gray-999;
        padding: 50rpx;
        text-align: center;
    }
}

.clearfix {
    @include clearfix;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.tags {
    border-bottom: 1px solid map-get($borders, shallow);
    margin-left: 15px;
    padding: 10px 0;
    > view {
        display: inline-block;
        margin: 0 5px;
        padding: 0 3px;
        color: #ff3333;
        line-height: 18px;
        border-radius: 3px;
        font-size: 12px;
        border: 1px solid #ff3333;
    }
}
.empty {
    @extend .icon-bg;
    margin: 0 auto;
    background-image: url('http://otzuzbqja.bkt.clouddn.com/empty.svg');
    width: 100px;
    height: 100px;
}

.money {
    color: #ff3333;
}

checkbox {
    transform:scale(.8);
} 

.product-item {
    @include clearfix;
    background: #FFF;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid map-get($borders, shallow);
    .title {
        @include text-overflow;
    }
    .weui-media-box__hd_in-appmsg  {
        width: 65px;
        height: 65px;
    }
    .product {
        overflow: hidden;
        padding-right: 10px;
    }
    .specifications {
        font-size: 14px;
        view {
            display: inline-block;
            color: #666;
        }
    }
    .trash {
        @extend .middle;
        width: 20px;
        height: 20px;
        float: right;
        margin: 0 0 0 4px;
        @extend .icon-bg;
        background-image: url('http://otzuzbqja.bkt.clouddn.com/trash2.svg')
    }
    .info {
        @include clearfix;
        .price {
            float: left;
            color: #ff3333;
        }
        .count {
            float: right;
            color: #999;
        }
    }
    &:first-of-type {
            border-top: 1px solid map-get($borders, shallow);
    }
    .checkbox {
        float: left;
        height: 60px;
        @extend .mc;
    }
    .product-image {
        float: left;
    }
}

.weui-form-preview__bd {
    background: #FFF;
}

.empty-notice {
    text-align: center;
    color: #999;
    font-size: 14px;
    .base {
        color: #333;
        font-size: 16px;
    }
}
.surfing {
    width: 308rpx;
    height: 82rpx;
    line-height: 82rpx;
    border: 1px solid #ff9933;
    color: #ff9933;
    margin-top: 20px;
}

.text-success {
    color: $color-success;
}
.text-warning {
    color: $color-warning;
}
.text-danger {
    color: $color-danger;
}
.text-gray {
    color: $color-gray;
}
.weui-form-preview__bd {
    font-size: 14px;
}

