$color-gray: #666;
$color-gray-dark: #333;
$color-gray-light: #999;

$color-white: #fff;

$color-blue: #20a0ff;
$color-blue-light: #4db3ff;
$color-blue-lighter: #e4f1fa;

$color-orange: #f19a69;
$color-yellow: #f7ba2a;
$color-red: #ff4949;
$color-green: #1abc9c;

$color-success: $color-green;
$color-warning: $color-yellow;
$color-danger: $color-red;
